# Projeto de Webscraping com Update da Database

Nessa empresa fictícia comercializa-se produtos que são diretamente influenciados por moedas estrangeiras (Dólar, Euro) e ouro. Nosso trabalho como analista de vendas é atualizar a cotação
das moedas diariamente para termos no novo preço de venda.

Para essa atualização precisamos acessar um site de cotações, pegar o valor da cotação e atualizar nossa planilha.

Para isso precisamos:

1) Pesquisar as cotações das moedas e ouro;

2) Buscar a informação no site; 

3) Armazenar as informações;

4) Preencher a cotação em uma planilha excel. 

Tudo isso de forma automática.

In [1]:
# fazendo a instalação do selenium 
! pip install selenium

Requirement already satisfied: selenium in c:\users\giovana\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\giovana\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\giovana\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\giovana\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\giovana\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sniffio in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: sortedcontainers in c:\users\giovana\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\giovana\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\giovana\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\giovana\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\giovana\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [11]:
# importando o selenium para o projeto

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

Agora utulizaremos o Selenium para acessar os sites que nos fornecerão as cotações necessárias.

Faremos os seguintes passos:
    
1) Entrar no site que estamos buscando https://google.com.br;
    
2) No campo de pesquisa, digitar “cotação dólar”;

3) Apertar ENTER para Pesquisar; 

4) Pegar a cotação indicada.

In [12]:
# abrir navegador
navegador = webdriver.Chrome()

# entrar no site do google (colocar link completo com https...)
navegador.get("https://www.google.com.br/")

# no campo pesquisa, digitar: cotação dólar
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")

# apertar enter
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

# pegar cotação dólar
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)

5.292657

Agora utulizaremos o Selenium para acessar os sites que nos fornecerão as cotações necessárias.

Faremos os seguintes passos:

1) Entrar no site que estamos buscando https://google.com.br;

2) No campo de pesquisa, digitar “cotação euro”;

3) Apertar ENTER para Pesquisar;

4) Pegar a cotação indicada.

In [13]:
# entrar no site do google novamente
navegador.get("https://www.google.com.br/")

# no campo pesquisa, digitar: cotação euro
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")

#apertar enter
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

# pegar cotação euro
cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

5.272306733000001

Agora utulizaremos o Selenium para acessar os sites que nos fornecerão as cotações necessárias.

Faremos os seguintes passos:

1) Entrar no site que estamos buscando https://www.melhorcambio.com/ouro-hoje;

2) Pegar a cotação indicada.

In [14]:
# entrar no site melhor cambio na aba no ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

# pegar cotação do ouro
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

280.38

Agora iremos importar nossa base de dados utilizando Pandas, faremos a atualização das cotações, atualizaremos preços de compra e venda e, por fim, exportaremos a nova base de dados.

In [15]:
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [16]:
# atualizando cotações
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.292657,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.272307,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.292657,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.292657,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.272307,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.292657,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,280.380000,7000.00,1.15,8050.000

In [17]:
# atualizando Preço de Compra
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

# atualizando Preço de Venda
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.292657,5292.604073,1.40,7409.645703
1,Carro Renault,4500.00,Euro,5.272307,23725.380299,2.00,47450.760597
2,Notebook Dell,899.99,Dólar,5.292657,4763.338373,1.70,8097.675235
3,IPhone,799.00,Dólar,5.292657,4228.832943,1.70,7189.016003
4,Carro Fiat,3000.00,Euro,5.272307,15816.920199,1.90,30052.148378
5,Celular Xiaomi,480.48,Dólar,5.292657,2543.015835,2.00,5086.031671
6,Joia 20g,20.00,Ouro,280.380000,5607.600000,1.15,6448.740000

In [18]:
# exportar base de preços atualizada
tabela.to_excel("Produtos Atualizado.xlsx", index=False)